:root {
   --background-color: #ffffff;
   --primary-color: #e0e0e0;
   --accent-color: #ee0000;
   --text-color: #000035;
}

body {
   margin: 0 auto;
   background-color: var(--background-color);
   color: var(--text-color);
   font-family: Verdana, sans-serif;
   overflow-x: hidden;
}
